@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 20px 0px;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    padding-left: 20px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
    color: #1ebba3;
}
.background{
    background: rgba(0, 0, 0, 0.4);
    height: 800px;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.heading-content{
    position: absolute;
    top: 60%;
    width: 100%;
    max-width: 100%;
}
.heading-content h5{
    font-size: 3em;
    font-weight: 300;
    color: #1ebba3;
    text-shadow: 2px 1px 5px black;
    font-family: monospace;
}
.heading-content h1{
    font-size: 5em;
    font-weight: bolder;
    color: #fff;
    text-shadow: 2px 1px 5px black;
    font-family: 'Poppins', sans-serif;
}




#about .btn{
    border: 2px solid red;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
}
#about .btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
#about .btn:hover{
    border: 2px solid #1ebba3;
    cursor: pointer;
}



#qualification{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
#qualification h3{
    color: #1ebba3;
    text-shadow: 2px 1px 5px black;
}
/* icon bar */
.icon-bar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.icon-bar a{
    width: 10rem;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.3rem;
    transition: all 0.5s linear;
    transform: translateX(-6.5rem);
}
.icon-bar a:hover{
    transform: translateX(0);
}

.icon-bar a .fab{
    padding-left: 1rem;
    font-size: 3rem;
    animation: letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}
.icon-bar .facebook{
    background: black;
}
.icon-bar .instagram{
    background: black;
}
.icon-bar .linkedin{
    background: black;
}
.icon-bar .github{
    background: black;
}

#footer .container .row{
    display: flex;
    text-align: center;
    background: rgba(0, 0, 0, 0.8)
}



@media screen and (max-width: 767px){
    .navbar{
        letter-spacing: 0.1rem;
        padding: 10px 0px;
    }
    .heading-content h5{
        font-size: 2em;
    }
    .heading-content h1{
        font-size: 3em;
    }

    .icon-bar a{
        width: 9rem;
        font-size: 0.5rem;
        padding: 0.2rem;
    }
}

@media screen and (max-width: 479px){
    .navbar{
        letter-spacing: 0.1rem;
        padding: 8px 0px;
    }
    .heading-content h5{
        font-size: 1em;
    }
    .heading-content h1{
        font-size: 2em;
    }

    .icon-bar a{
        width: 9rem;
        font-size: 0.4rem;
        padding: 0.1rem;
    }

}
